[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pakietdemo = {git = "https://github.com/piotrczaja/pakiet-demo.git"}

[dev-packages]

[requires]
python_version = "3.14"
