[submodule "rozdzial_23"]
	path = rozdzial_23
	url = git@github.com:pawlos1337/Bazy-danych-temat.git
[submodule "source/rozdzial_2/rozdzial_21"]
	path = source/rozdzial_2/rozdzial_21
	url = https://github.com/pawlos1337/Bazy-danych-temat
